<!--The content below is only a placeholder and can be replaced.-->
<app-headbar></app-headbar>
<section class="section">
  <div class="container">
    <div class="heading">
        <h1 class="title">Seu carrinho</h1>
        <h2 class="subtitle">2 itens</h2>
    </div>
   <table class="table is-striped is-fullwidth">
     <thead>
       <tr>
         <th class="has-text-centered">Produto</th>
         <th class="has-text-centered">Valor</th>
         <th class="has-text-centered">Quantidade</th>
         <th class="has-text-centered">Total</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td class="has-text-centered">Mouse Gamer</td>
         <td class="has-text-centered">R$ 199,00</td>
         <td class="has-text-centered">1</td>
         <td class="has-text-centered">R$ 199,00</td>
       </tr>
       <tr>
         <td class="has-text-centered">Teclado wireless</td>
         <td class="has-text-centered">R$ 100,00</td>
         <td class="has-text-centered">1</td>
         <td class="has-text-centered">R$ 100,00</td>
       </tr>
     </tbody>  
     <tfoot>
       <tr>
         <td colspan="3"><h3>Subtotal</h3></td>
         <td class="has-text-centered"><strong>R$ 299,00</strong></td>
       </tr>
       <tr>
        <td colspan="3"><h3>Desconto</h3></td>
        <td class="has-text-centered"><strong>R$ 0,00</strong></td>
      </tr>
      <tr>
        <td colspan="3"><h3>Total</h3></td>
        <td class="has-text-centered"><strong>R$ 299,00</strong></td>
      </tr>
     </tfoot>
   </table>
   <p class="has-text-right">
      <button class="button is-success is-large">
          <i class="fa fa-check">&nbsp; Checkout</i>
         </button>
   </p>
   
  </div>
</section>
<app-footer></app-footer>