<div class="columns is-multiline">
    <div class="column is-one-quarter animated slideInUp">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="http://lorempixel.com/216/162/" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                <h1 class="has-text-centered">R$ 200,00</h1>
                <br>
                <a href="" class="button is-success is-fullwidth">
                    <i class="fa fa-shopping-cart"></i> &nbsp; &nbsp; Comprar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter animated slideInUp">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="http://lorempixel.com/216/162/" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                <h1 class="has-text-centered">R$ 200,00</h1>
                <br>
                <a href="" class="button is-success is-fullwidth">
                    <i class="fa fa-shopping-cart"></i> &nbsp; &nbsp; Comprar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter animated slideInUp">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="http://lorempixel.com/216/162/" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                <h1 class="has-text-centered">R$ 200,00</h1>
                <br>
                <a href="" class="button is-success is-fullwidth">
                    <i class="fa fa-shopping-cart"></i> &nbsp; &nbsp; Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>