/* You can add global styles to this file, and also import other style files */
.pacifico {
    font-family: 'Pacifico';
}

.footer-local {
    background-color: #f5f5f5;
    padding: 3rem 1.5rem 3rem;
}